.row
  .col-sm-4{ "ng-controller" => "FriendsController" }
    %h2
      Friends
      %button.btn.btn-primary.pull-right{ "ng-click"=>"refresh()" } Refresh

    %p#friend_status {{ status }}

    %ul#friends
      %li{ "ng-repeat" => "friend in data"}
        %a{"ng-click" => "show_user(friend)"} {{ friend }}

  .col-sm-8{ "ng-controller" => "UserInfoController" }
    %h2
      Detail: {{user}}
      %button.button.pull-right{ "ng-click"=>"refresh()" } Refresh

    %p#timeline_status {{ status }}


    %table.table.table-striped
      %tr
        %th name
        %td {{ data.name }}
      %tr
        %th location
        %td {{ data.location }}
      %tr
        %th time_zone
        %td {{ data.time_zone }}
      %tr
        %th description
        %td {{ data.description }}
      %tr
        %th followers_count
        %td {{ data.followers_count }}
      %tr
        %th friends_count
        %td {{ data.friends_count }}
      %tr
        %th created_at
        %td {{ data.created_at }}
      %tr
        %th statuses_count
        %td {{ data.statuses_count }}
      %tr
        %th profile_image_url
        %td {{ data.profile_image_url }}